@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import 'variables.scss';
@import 'common.scss';
@import 'price-table.scss';
@import 'price-table-blue.scss';
@import 'price-table-orange.scss';

* {
  font-family: montserrat;
  box-sizing: border-box;
}

.container {
  background-color: $text-color-background;
  display: flex;
  padding: 50px 132px;
}
