$text-color-background: #141b1c;
$color-background-item: #334247;

$text-color-white: #ffffff;
$color-background-green: #5bb189;
$color-background-list: #2a3438;
$color-background-blue: #3a6ba5;
$color-background-orange: #ec632a;
